<div class="container">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <!-- Task1  -->
      <!-- <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{username}}</p>
      <button class=" btn btn-primary" [disabled]="!username" (click)="username = ''">Reset</button> -->

      <!-- Task2 -->
      <!-- <button class="btn btn-primary" (click)="onDisplayDetails($event)">Display Details</button>
      <p *ngIf="detailsDisplayed">Some secret details</p>
      <p [ngStyle]="{backgroundColor: i >=5 ? 'blue' : 'transparent'}" [ngClass]="{'white-text': i >= 5}" *ngFor="let stamp of displayButtonLog; let i = index">{{stamp}}</p> -->
    </div>
  </div>
</div>
